{
  "parserOptions": {
    "ecmaVersion": 2015
  },
  "extends": [
    "prettier-standard",
    "plugin:ava/recommended"
  ],
  "plugins": [
    "ava"
  ],
  "env": {
    "node": true,
    "commonjs": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.spec.js",
          "**/*.fixture.js",
          "**/__fixtures__/",
          "**/__test__"
        ]
      }
    ]
  }
}
